<footer class="page-footer">
    <div class="container">
        <div class="inner-container">


            <div class="page-footer__row">
                <a href="#" class="page-footer__logo">
                    <img src="img/logo.png" alt="" class="page-footer__logo-image">
                </a>
                <div class="page-footer__content">
                    <nav class="page-footer__nav">
                        <a href="#" class="page-footer__nav-link">
                            О компании
                        </a>
                        <a href="#" class="page-footer__nav-link">
                            Наши продукты
                        </a>
                        <a href="#" class="page-footer__nav-link">
                            Партнерам
                        </a>
                    </nav>
                    <div class="page-footer__contacts">
                        <div class="page-footer__contacts-item">
                            г. Иннополис, ул. Университетская, д. 7
                        </div>
                        <div class="page-footer__contacts-item">
                            <a href="mailto:info@tatitneft.ru"> info@tatitneft.ru</a>
                        </div>
                        <div class="page-footer__contacts-item">
                            <a href="tel:+79990008899"> +7 999 000 88 99</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>