<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <img src="img/logo.png" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__menu">
                <nav class="page-header__menu-nav">
                    <a href="#" class="page-header__menu-nav-link">
                        О компании
                    </a>
                    <a href="#" class="page-header__menu-nav-link">
                        Наши продукты
                    </a>
                    <a href="#" class="page-header__menu-nav-link">
                        Партнерам
                    </a>
                </nav>

                <a href="#" class="page-header__contact-link">
                    Свяжитесь с нами
                </a>
            </div>
        </div>
    </div>
</header>