{{#extend "layout"}}
{{#content "main"}}

<section class="taxes-intro">
    <div class="taxes-intro__bg">
        <div class="taxes-intro__bg-image-wrapper">


            <img src="img/taxes-intro-bg.jpg" alt="" class="taxes-intro__bg-image">
        </div>
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="taxes-intro__content">


                <img src="img/production-loss.png" alt="" class="taxes-intro__image">
                <h1 class="taxes-intro__heading">
                    Production Loss Finder
                </h1>
                <div class="taxes-intro__heading-text">
                    <p>
                        Система поиска узких мест
                        и потерь на производстве
                    </p>
                </div>
                <a href="#" class="taxes-intro__consultation">
                    Бесплатная консультация
                </a>

            </div>
        </div>
    </div>
</section>

<section class="about-system">
    <div class="about-system__bg">

    </div>
    <img src="img/about-system.png" alt="" class="about-system__image">
    <div class="container">
        <div class="inner-container">
            <h2 class="about-system__heading">
                О системе
            </h2>
            <div class="about-system__content">
                <h3 class="about-system__inner-heading">
                    Программно-аппаратный комплекс
                    “Производственные резервы” предоставляет следующие возможности:
                </h3>
                <div class="about-system__text">
                    <p>
                        анализ производственных процессов в режиме реального времени – фиксация и анализ маршрута
                        прохода материалов и полуфабрикатов, даты и времени затраченного на каждый этап производства, а
                        также идентификация персонала, задействованного на определенном этапе производства;
                    </p>
                    <p>
                        контроль за поступающими материалами - место расположения материалов, «прозрачность»
                        использования материалов в производстве, а также оптимизация формирования запасов сырья;
                    </p>
                    <p>
                        создание маршрутов производства продукции - назначение персонала на каждый маршрут, исходя из
                        линейной подчиненности персонала заказчика;
                    </p>
                    <p>
                        получение оперативного отчета о дефектах и выбраковке производимой продукции, простое персонала
                        и оборудования, выработки по каждому работнику.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="what-searching">
    <div class="what-searching__bg">
        <div class="what-searching__bg-image-wrapper">
            <img data-src="img/what-searching.jpg" alt="" class="what-searching__bg-image lazyload">
        </div>
    </div>
    <div class="container">
        <div class="inner-container">
            <h2 class="what-searching__heading">
                Что ищем?
            </h2>
            <div class="what-searching__heading-text">
                <p>
                    С системой PRODUCTION LOSS FINDER вы выявите потери по следующим направлениям:

                </p>
            </div>
            <ul class="what-searching__list">
                <li class="what-searching__list-item">
                    <div class="what-searching__card">
                        <h3 class="what-searching__card-title">
                            Время
                        </h3>
                        <div class="what-searching__card-text">
                            <p>
                                Анализируется время
                                прохождения производства
                                на каждом производственном этапе
                                по каждой единицы продукции
                            </p>
                        </div>
                    </div>
                </li>
                <li class="what-searching__list-item">
                    <div class="what-searching__card">
                        <h3 class="what-searching__card-title">
                            Материалы
                        </h3>
                        <div class="what-searching__card-text">
                            <p>
                                Анализируется использование
                                материала и полуфабрикатов
                                на каждую единицу продукции
                            </p>
                        </div>
                    </div>
                </li>
                <li class="what-searching__list-item">
                    <div class="what-searching__card">
                        <h3 class="what-searching__card-title">
                            Персонал
                        </h3>
                        <div class="what-searching__card-text">
                            <p>
                                Анализируется участие каждого работника,
                                задействованного при производстве,
                                его компетенции
                            </p>
                        </div>
                    </div>
                </li>
                <li class="what-searching__list-item">
                    <div class="what-searching__card">
                        <h3 class="what-searching__card-title">
                            Оборудование
                        </h3>
                        <div class="what-searching__card-text">
                            <p>
                                Анализируется работа
                                каждого оборудования,
                                его загрузка и простои
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="how-searching">
    <div class="how-searching__bg">

    </div>
    <div class="container">
        <div class="inner-container">
            <h2 class="how-searching__heading">
                Как ищем?
            </h2>
            <div class="how-searching__row">
                <ol class="how-searching__list">
                    <li class="how-searching__list-item">
                        <div class="how-searching__card">
                            <img src="img/how-search/1.png" alt="" class="how-searching__card-icon">
                            <div class="how-searching__card-text">
                                <p>
                                    Каждой единице
                                    производимой продукции
                                    присваивается
                                    уникальный номер
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="how-searching__list-item">
                        <div class="how-searching__card">
                            <img src="img/how-search/2.png" alt="" class="how-searching__card-icon">
                            <div class="how-searching__card-text">
                                <p>
                                    Система позволяет
                                    сгенерировать
                                    графический код
                                    для каждой единицы
                                    продукции
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="how-searching__list-item">
                        <div class="how-searching__card">
                            <img src="img/how-search/3.png" alt="" class="how-searching__card-icon">
                            <div class="how-searching__card-text">
                                <p>
                                    Система позволяет
                                    осуществить привязку
                                    радиочастотных меток
                                    с каждой единицей
                                    продукции
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="how-searching__list-item">
                        <div class="how-searching__card">
                            <img src="img/how-search/4.png" alt="" class="how-searching__card-icon">
                            <div class="how-searching__card-text">
                                <p>
                                    Обвязываем
                                    оборудование датчиками
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="how-searching__list-item">
                        <div class="how-searching__card">
                            <img src="img/how-search/5.png" alt="" class="how-searching__card-icon">
                            <div class="how-searching__card-text">
                                <p>
                                    Рабочему выдаются
                                    портативные устройства
                                    для отметки о выполнении этапа
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="how-searching__list-item">
                        <div class="how-searching__card">
                            <img src="img/how-search/6.png" alt="" class="how-searching__card-icon">
                            <div class="how-searching__card-text">
                                <p>
                                    Идентификацию продукции можно производить путем ввода номера продукции, считывания
                                    графического кода или радиочастотной метки в портативном устройстве
                                </p>
                            </div>
                        </div>
                    </li>
                </ol>
                <div class="how-searching__info">
                    <h4 class="how-searching__info-heading">
                        В ходе выполнения производства собирается информация:
                    </h4>
                    <ul class="how-searching__info-list">
                        <li class="how-searching__info-list-item">
                            Начало/ окончание этапа (время, рабочий)
                        </li>
                        <li class="how-searching__info-list-item">
                            Технологические параметры производства
                        </li>
                        <li class="how-searching__info-list-item">
                            Чек-листы контроля качества продукции
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="search-stages">
    <div class="search-stages__bg">
        <div class="search-stages__bg-image-wrapper">
            <img data-src="img/man-with-notebook.jpg" alt="" class="search-stages__bg-image lazyload">
        </div>
    </div>
    <div class="container">
        <div class="inner-container">
            <h2 class="search-stages__heading">
                Этапы поиска
            </h2>
            <ol class="search-stages__list">
                <li class="search-stages__list-item">
                    <div class="search-stages__card">
                        <h3 class="search-stages__card-title">
                            Диагностика предприятия
                        </h3>
                        <div class="search-stages__card-text">
                            <p>
                                Аудит действующих бизнес-процессов,
                                технологических карт, нормативной
                                документации
                            </p>
                        </div>
                    </div>
                </li>
                <li class="search-stages__list-item">
                    <div class="search-stages__card">
                        <h3 class="search-stages__card-title">
                            Внедрение системы для сбора
                            производственных показателей
                        </h3>
                    </div>
                </li>
                <li class="search-stages__list-item">
                    <div class="search-stages__card">
                        <h3 class="search-stages__card-title">
                            Анализ производственных
                            показателей
                        </h3>
                    </div>
                </li>
                <li class="search-stages__list-item">
                    <div class="search-stages__card">
                        <h3 class="search-stages__card-title">
                            Предоставление отчета
                        </h3>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>

<section class="partnership partnership--with-bg">

    <div class="partnership__bg">
        <div class="partnership__bg-wrapper">
            <div class="partnership__grey-bar">

            </div>
        </div>
        <div class="partnership__bg-band">
            <div class="partnership__bg-band-item">
                Установи
            </div>
            <div class="partnership__bg-band-item">
                Настрой
            </div>
            <div class="partnership__bg-band-item">
                Запусти
            </div>
            <div class="partnership__bg-band-item">
                Анализируй
            </div>
            <div class="partnership__bg-band-item">
                Оптимизируй
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner-container">
            <h2 class="partnership__heading">
                Гибкая настройка и быстрый старт
            </h2>
            <ul class="partnership__list">
                <li class="partnership__list-item">
                    <div class="partnership__card">
                        <div class="partnership__card-icon-container partnership__card-icon-container--inverted">
                            <img data-src="img/setup/1.png" alt="" class="partnership__card-icon lazyload">
                        </div>
                        <div class="partnership__card-text">
                            <p>
                                Открытый
                                API интерфейс
                            </p>
                        </div>
                    </div>
                </li>
                <li class="partnership__list-item">
                    <div class="partnership__card">
                        <div class="partnership__card-icon-container partnership__card-icon-container--inverted">
                            <img data-src="img/setup/2.png" alt="" class="partnership__card-icon lazyload">
                        </div>
                        <div class="partnership__card-text">
                            <p>
                                Загрузка справочников
                                из любых источников
                            </p>
                        </div>
                    </div>
                </li>
                <li class="partnership__list-item">
                    <div class="partnership__card">
                        <div class="partnership__card-icon-container partnership__card-icon-container--inverted">


                            <img data-src="img/setup/3.png" alt="" class="partnership__card-icon lazyload">
                        </div>
                        <div class="partnership__card-text">
                            <p>
                                Открытый
                                код системы
                            </p>
                        </div>
                    </div>
                </li>
                <li class="partnership__list-item">
                    <div class="partnership__card">
                        <div class="partnership__card-icon-container partnership__card-icon-container--inverted">


                            <img data-src="img/setup/4.png" alt="" class="partnership__card-icon lazyload">
                        </div>
                        <div class="partnership__card-text">
                            <p>
                                Внедрение
                                от 1го месяца
                            </p>
                        </div>
                    </div>
                </li>
                <li class="partnership__list-item">
                    <div class="partnership__card">
                        <div class="partnership__card-icon-container partnership__card-icon-container--inverted">


                            <img data-src="img/setup/5.png" alt="" class="partnership__card-icon lazyload">
                        </div>
                        <div class="partnership__card-text">
                            <p>
                                Платформа и мобильное
                                приложение доступны БЕСПЛАТНО*
                            </p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</section>


<section class="interface">
    <div class="interface__bg">

    </div>
    <div class="container">
        <div class="inner-container">
            <h2 class="inteface__heading">
                Интерфейс программы
            </h2>
            <div class="inteface__slider inteface__slider--large-graphic js-interface-slider">
                <button class="inteface__slider-arrow inteface__slider-arrow--prev">
                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="inteface__slider-arrow inteface__slider-arrow--next">
                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="inteface__slider-card">
                                <img data-src="img/slider-image.png" alt=""
                                    class="interface__slider-card-image lazyload">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="inteface__slider-card">
                                <img data-src="img/slider-image.png" alt=""
                                    class="interface__slider-card-image lazyload">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="inteface__slider-card">
                                <img data-src="img/slider-image.png" alt=""
                                    class="interface__slider-card-image lazyload">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="prices">
    <div class="prices__bg">

    </div>
    <div class="container">
        <div class="inner-container">
            <h2 class="prices__heading">
                ЦЕНЫ на Production Loss Finder
            </h2>
            <ul class="prices__list">
                <li class="prices__list-item">
                    <a href="#" class="prices__card">
                        <div class="prices__card-header">
                            <h3 class="prices__card-title">
                                СТАНДАРТНЫЙ
                            </h3>
                            <img src="img/prices/1.png" alt="" class="prices__card-icon">
                            <div class="prices__card-amount">
                                34 тыс. руб./ мес
                            </div>
                        </div>
                        <div class="prices__card-content">
                            <ul class="prices__card-list">
                                <li class="prices__card-list-item">
                                    Аналитика движения ТМЦ
                                </li>
                                <li class="prices__card-list-item">
                                    Аналитика по персоналу
                                </li>
                                <li class="prices__card-list-item">
                                    Аналитика по оборудованию
                                </li>
                                <li class="prices__card-list-item">
                                    Стандартные отчеты и выгрузки
                                </li>
                                <li class="prices__card-list-item">
                                    Доступ к справочникам
                                </li>
                                <li class="prices__card-list-item prices__card-list-item--minus">
                                    Импорт справочников
                                </li>
                                <li class="prices__card-list-item prices__card-list-item--minus">
                                    Настраиваемые отчеты
                                </li>
                                <li class="prices__card-list-item prices__card-list-item--minus">
                                    Предиктивная аналитика обрудования
                                </li>
                                <li class="prices__card-list-item prices__card-list-item--minus">
                                    Оборудование в аренду
                                    (с возможностью выкупа) планшеты,
                                    телефоны
                                </li>
                                <li class="prices__card-list-item prices__card-list-item--minus">
                                    Интеграция с другими приложениями
                                    (коннекторы)
                                </li>
                                <li class="prices__card-list-item">
                                    Количество пользователей от 10 до 50
                                    5000 руб/мес 1 пользователь
                                </li>
                                <li class="prices__card-list-item prices__card-list-item--minus">
                                    Количество пользователей от 50 до 100
                                    3500 руб/мес 1 пользователь
                                </li>
                                <li class="prices__card-list-item prices__card-list-item--minus">
                                    Количество пользователей более 100
                                    2000 руб/мес 1 пользователь
                                </li>
                                <li class="prices__card-list-item">
                                    Обучение 1 специалиста 2 дня онлайн
                                </li>
                            </ul>
                        </div>
                        <div class="prices__card-additional">
                            <h3 class="prices__card-additional-heading">
                                Дополнительные возможности:
                            </h3>
                            <ul class="prices__card-additional-list">
                                <li class="prices__card-additional-list-item">
                                    Обучение 1го специалиста
                                    онлайн или в офисе – 10000 руб.
                                </li>
                                <li class="prices__card-additional-list-item">
                                    Поддержка со второго года  100 т.р./ год
                                </li>
                            </ul>
                        </div>
                        <div class="prices__card-apply-link">
                            Оставить заявку
                        </div>

                    </a>
                </li>
                <li class="prices__list-item">
                    <a href="#" class="prices__card">
                        <div class="prices__card-header">
                            <h3 class="prices__card-title">
                                ОПТИМАЛЬНЫЙ
                            </h3>
                            <img src="img/prices/2.png" alt="" class="prices__card-icon">
                            <div class="prices__card-amount">
                                по запросу
                            </div>
                        </div>
                        <div class="prices__card-content">
                            <ul class="prices__card-list">
                                <li class="prices__card-list-item">
                                   Аналитика движения ТМЦ 
                                </li>
                                <li class="prices__card-list-item">
                                   Аналитика по персоналу 
                                </li>
                                <li class="prices__card-list-item">
                                   Аналитика по оборудованию 
                                </li>
                                <li class="prices__card-list-item">
                                   Стандартные отчеты и выгрузки 
                                </li>
                                <li class="prices__card-list-item">
                                   Доступ к справочникам 
                                </li>
                                <li class="prices__card-list-item ">
                                    Импорт справочников
                                </li>
                                <li class="prices__card-list-item">
                                    Настраиваемые отчеты
                                </li>
                                <li class="prices__card-list-item prices__card-list-item--minus">
                                    Предиктивная аналитика обрудования
                                </li>
                                <li class="prices__card-list-item">
                                    Оборудование в аренду
                                    (с возможностью выкупа) планшеты,
                                    телефоны
                                </li>
                                <li class="prices__card-list-item prices__card-list-item--minus">
                                    Интеграция с другими приложениями
                                    (коннекторы)
                                </li>
                                <li class="prices__card-list-item">
                                    Количество пользователей от 10 до 50
                                    5000 руб/мес 1 пользователь
                                </li>
                                <li class="prices__card-list-item ">
                                    Количество пользователей от 50 до 100
                                    3500 руб/мес 1 пользователь
                                </li>
                                <li class="prices__card-list-item prices__card-list-item--minus">
                                    Количество пользователей более 100
                                    2000 руб/мес 1 пользователь
                                </li>
                                <li class="prices__card-list-item">
                                    Обучение 1 специалиста 2 дня онлайн
                                </li>
                            </ul>
                        </div>
                        <div class="prices__card-additional">
                            <h3 class="prices__card-additional-heading">
                                Дополнительные возможности:
                            </h3>
                            <ul class="prices__card-additional-list">
                                <li class="prices__card-additional-list-item">
                                    Обучение 1го специалиста
                                    онлайн или в офисе – 10000 руб.
                                </li>
                                <li class="prices__card-additional-list-item">
                                    Поддержка со второго года  100 т.р./ год
                                </li>
                            </ul>
                        </div>
                        <div class="prices__card-apply-link">
                            Оставить заявку
                        </div>

                    </a>
                </li>
                <li class="prices__list-item">
                    <a href="#" class="prices__card">
                        <div class="prices__card-header">
                            <h3 class="prices__card-title">
                                ПОЛНЫЙ
                            </h3>
                            <img src="img/prices/3.png" alt="" class="prices__card-icon">
                            <div class="prices__card-amount">
                                по запросу
                            </div>
                        </div>
                        <div class="prices__card-content">
                            <ul class="prices__card-list">
                                <li class="prices__card-list-item">
                                   Аналитика движения ТМЦ 
                                </li>
                                <li class="prices__card-list-item">
                                   Аналитика по персоналу 
                                </li>
                                <li class="prices__card-list-item">
                                   Аналитика по оборудованию 
                                </li>
                                <li class="prices__card-list-item">
                                   Стандартные отчеты и выгрузки 
                                </li>
                                <li class="prices__card-list-item">
                                   Доступ к справочникам 
                                </li>
                                <li class="prices__card-list-item ">
                                    Импорт справочников
                                </li>
                                <li class="prices__card-list-item">
                                    Настраиваемые отчеты
                                </li>
                                <li class="prices__card-list-item">
                                    Предиктивная аналитика обрудования
                                </li>
                                <li class="prices__card-list-item">
                                    Оборудование в аренду
                                    (с возможностью выкупа) планшеты,
                                    телефоны
                                </li>
                                <li class="prices__card-list-item">
                                    Интеграция с другими приложениями
                                    (коннекторы)
                                </li>
                                <li class="prices__card-list-item">
                                    Количество пользователей от 10 до 50
                                    5000 руб/мес 1 пользователь
                                </li>
                                <li class="prices__card-list-item ">
                                    Количество пользователей от 50 до 100
                                    3500 руб/мес 1 пользователь
                                </li>
                                <li class="prices__card-list-item">
                                    Количество пользователей более 100
                                    2000 руб/мес 1 пользователь
                                </li>
                                <li class="prices__card-list-item">
                                    Обучение 1 специалиста 2 дня онлайн
                                </li>
                            </ul>
                        </div>
                        <div class="prices__card-additional">
                            <h3 class="prices__card-additional-heading">
                                Дополнительные возможности:
                            </h3>
                            <ul class="prices__card-additional-list">
                                <li class="prices__card-additional-list-item">
                                    Обучение 1го специалиста
                                    онлайн или в офисе – 10000 руб.
                                </li>
                                <li class="prices__card-additional-list-item">
                                    Поддержка со второго года  100 т.р./ год
                                </li>
                            </ul>
                        </div>
                        <div class="prices__card-apply-link">
                            Оставить заявку
                        </div>

                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}