{{#extend "layout"}}
{{#content "main"}}

<section class="taxes-intro">
    <div class="taxes-intro__bg">
        <div class="taxes-intro__bg-image-wrapper">


            <img src="img/taxes-intro-bg.jpg" alt="" class="taxes-intro__bg-image">
        </div>
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="taxes-intro__content">



                <h1 class="taxes-intro__heading">
                    Налоговый мониторинг
                </h1>
                <div class="taxes-intro__heading-text">
                    <p>
                        Платформа онлайн-взаимодействия
                        с налоговыми органами
                    </p>
                </div>
                <a href="#" class="taxes-intro__consultation">
                    Бесплатная консультация
                </a>
            </div>
        </div>
    </div>
</section>


<section class="monitoring-advantages">
    <div class="container">
        <div class="inner-container">
            <h2 class="monitoring-advantages__heading">
                Преимущества<br>
                налогового мониторинга
            </h2>
            <ul class="monitoring-advantages__list">
                <li class="monitoring-advantages__list-item">
                    <div class="monitoring-advantages__card">
                        <div class="monitoring-advantages__card-text">
                            <p>
                                Снижение количества штрафов за счет мотивированных мнений налоговых органов
                                по конкретным вопросам
                            </p>
                        </div>
                    </div>
                </li>
                <li class="monitoring-advantages__list-item">
                    <div class="monitoring-advantages__card">
                        <div class="monitoring-advantages__card-text">
                            <p>
                                Снижение резервов по неопределенным налоговым
                                позициям до 40% преимущества налогового мониторинга
                            </p>
                        </div>
                    </div>
                </li>
                <li class="monitoring-advantages__list-item">
                    <div class="monitoring-advantages__card">
                        <div class="monitoring-advantages__card-text">
                            <p>
                                Сокращение объема бумажного документооборота
                            </p>
                        </div>
                    </div>
                </li>
                <li class="monitoring-advantages__list-item">
                    <div class="monitoring-advantages__card">
                        <div class="monitoring-advantages__card-text">
                            <p>
                                Сокращение сроков закрытия налоговой проверки до 3 раз
                            </p>
                        </div>
                    </div>
                </li>
                <li class="monitoring-advantages__list-item">
                    <div class="monitoring-advantages__card">
                        <div class="monitoring-advantages__card-text">
                            <p>
                                Сокращение затрат на сопровождение налоговых проверок от 15%
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="monitoring-advantages__image-wrapper">
                <img data-src="img/laptop.png" alt="" class="monitoring-advantages__image lazyload">
            </div>
        </div>
    </div>
</section>

<section class="questions">
    <div class="container">
        <div class="inner-container">
            <h2 class="questions__heading">
                Вопросы при выборе IT-решения
            </h2>
            <div class="questions__heading-text">
                <p>
                    Разработать своими силами или приобрести готовое решение?
                </p>
            </div>
            <div class="questions__comparison">
                <img data-src="img/woman-1.png" alt="" class="questions__comparison-woman lazyload">

                <ul class="questions__list">
                    <li class="questions__list-item">
                        <div class="questions__card">
                            <img data-src="img/pluses.png" alt="" class="questions__card-bg-image lazyload">
                            <h3 class="questions__card-heading">
                                ПЛЮСЫ СВОЕЙ РАЗРАБОТКИ
                            </h3>
                            <ul class="questions__card-list">
                                <li class="questions__card-list-item">
                                    <span class="questions__card-list-item-plus">

                                    </span>
                                    Решение "только для вас" позволяет учесть все требования к системе
                                </li>
                                <li class="questions__card-list-item">
                                    <span class="questions__card-list-item-plus">

                                    </span>
                                    Глубокая собственная экспертиза и погруженность в процессы ИТ
                                </li>
                                <li class="questions__card-list-item">
                                    <span class="questions__card-list-item-plus">

                                    </span>
                                    Собственная "база знаний" . не передается внешнему подрядчику
                                </li>
                                <li class="questions__card-list-item">
                                    <span class="questions__card-list-item-plus">

                                    </span>
                                    Отсутствие закупочных и тендорных процедур
                                </li>
                                <li class="questions__card-list-item">
                                    <span class="questions__card-list-item-plus">

                                    </span>
                                    Экономия бюджета на первом этапе проекта
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="questions__list-item">
                        <div class="questions__card">
                            <img data-src="img/minuses.png" alt="" class="questions__card-bg-image lazyload">
                            <h3 class="questions__card-heading">
                                МИНУСЫ СВОЕЙ РАЗРАБОТКИ
                            </h3>
                            <ul class="questions__card-list">
                                <li class="questions__card-list-item">
                                    <span class="questions__card-list-item-minus">

                                    </span>
                                    Низкая оперативность, доработки и внесения изменений
                                    по требованиям законодательства
                                </li>
                                <li class="questions__card-list-item">
                                    <span class="questions__card-list-item-minus">

                                    </span>
                                    Собственная разработка требует высокой и постоянной вовлечённости в тематику
                                </li>
                                <li class="questions__card-list-item">
                                    <span class="questions__card-list-item-minus">

                                    </span>
                                    Увеличения загрузки собственного IT- подразделения
                                </li>
                                <li class="questions__card-list-item">
                                    <span class="questions__card-list-item-minus">

                                    </span>
                                    Отсутствие внешнего опыта не позволит использовать лучшие практики в развитии
                                    решения
                                </li>
                                <li class="questions__card-list-item">
                                    <span class="questions__card-list-item-minus">

                                    </span>
                                    Высокая зависимость разработанного решения
                                    от штатного программиста
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="what-to-choose">
    <div class="what-to-choose__bg">
        <img data-src="img/woman-2.png" alt="" class="what-to-choose__woman-image lazyload">
        <div class="what-to-choose__bg-grey-backplate">

        </div>
        <div class="what-to-choose__bg-section-number">
            01
        </div>
    </div>
    <div class="container">
        <div class="inner-container">
            <h2 class="what-to-choose__heading">
                На что обратить внимание при выборе готового решения?
            </h2>
            <div class="what-to-choose__heading-text">
                <p>
                    Функции и технологии
                </p>
            </div>
            <ul class="what-to-choose__list">
                <li class="what-to-choose__list-item">
                    <div class="what-to-choose__card">
                        <img data-src="img/what-to-choose/1.png" alt="" class="what-to-choose__card-icon lazyload">
                        <h3 class="what-to-choose__card-heading">
                            Общие критерии
                        </h3>
                        <div class="what-to-choose__card-text">
                            <p>
                                Возможность использовать решение для внутренних задач
                            </p>
                            <p>
                                Использование решения
                                для консолидации и анализа налоговых данных по участникам налогового мониторинга одной
                                группы
                            </p>
                            <p>
                                Анализ, планирование и контроль налоговых показателей в решении
                            </p>
                        </div>
                    </div>
                </li>
                <li class="what-to-choose__list-item">
                    <div class="what-to-choose__card">
                        <img data-src="img/what-to-choose/2.png" alt="" class="what-to-choose__card-icon lazyload">
                        <h3 class="what-to-choose__card-heading">
                            Функциональные критерии
                        </h3>
                        <div class="what-to-choose__card-text">
                            <p>
                                Решение всех задач участника налогового мониторинга в одном продукте

                            </p>
                            <p>
                                Настройка решения без перепрограммирования
                            </p>
                            <p>
                                Гибкая настройка интеграции
                                под учетные системы и ЭХД
                            </p>
                            <p>
                                Возможность автоматизировать расчёт регистров, деклараций
                            </p>
                            <p>
                                Формирование отчетов в формате XML, включая установленные приказом ФНС России 23.10.2020
                                ЕД-7-15/772@
                            </p>
                        </div>
                    </div>
                </li>
                <li class="what-to-choose__list-item">
                    <div class="what-to-choose__card">
                        <img data-src="img/what-to-choose/3.png" alt="" class="what-to-choose__card-icon lazyload">
                        <h3 class="what-to-choose__card-heading">
                            Технологические критерии

                        </h3>
                        <div class="what-to-choose__card-text">
                            <p>
                                Производительность решения
                            </p>
                            <p>
                                Устойчивость к высоким нагрузкам системы

                            </p>
                            <p>
                                Способность масштабироваться под крупные инсталляция
                            </p>
                            <p>
                                Использование современных технологий и языков программирования
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="product">
    <img data-src="img/laptop-hands.png" alt="" class="product__laptop-hands lazyload">
    <img data-src="img/woman-3.png" alt="" class="product__woman lazyload">
    <div class="product__section-number">
        02
    </div>
    <div class="container">
        <div class="inner-container">
            <h2 class="product__heading">
                Производитель и продукт
            </h2>
            <ul class="product__list">
                <li class="product__list-item">
                    <div class="product__card">
                        <h3 class="product__card-heading">
                            Производитель - Разработчик IT-cистем
                        </h3>
                        <ul class="product__card-list">
                            <li class="product__card-list-item">
                                Гарантированное развитие функциональности lT- cистемы
                            </li>
                            <li class="product__card-list-item">
                                Поставка обновлений под развитие функциональности
                                и исправление ошибок
                            </li>
                            <li class="product__card-list-item">
                                Использование лучших практик и опыта других внедрений
                            </li>
                            <li class="product__card-list-item">
                                Постоянная актуализация IT- системы с учётом перспективных изменений законодательных
                                требований
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="product__list-item">
                    <div class="product__card">
                        <h3 class="product__card-heading">
                            Производитель - Консалтинговая/аудиторская компания
                        </h3>
                        <ul class="product__card-list">
                            <li class="product__card-list-item">
                                Заказная разработка под требования Заказчика
                            </li>
                            <li class="product__card-list-item">
                                Доработка и развитие производится в рамках отдельного проекта либо договора
                            </li>
                            <li class="product__card-list-item">
                                План развития решения обычно отсутствует, развитие производится только по возникновению
                                потребности конкретного заказчика
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="product__list-item">
                    <div class="product__card">
                        <h3 class="product__card-heading">
                            Документация по решению
                        </h3>
                        <ul class="product__card-list">
                            <li class="product__card-list-item">
                                Поддерживается и актуализируется по мере развития IT- системы
                            </li>
                            <li class="product__card-list-item">
                                Находится в открытом доступе, либо оперативно предоставляется Заказчику
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="transition-map">
    <div class="transition__map-bg">
        <div class="transition__map-bg-image-wrapper">
            <img data-src="img/man-with-notebook.jpg" alt="" class="transition__map-bg-image lazyload">
        </div>
    </div>
    <div class="container">
        <div class="inner-container">
            <h2 class="transition-map__heading">
                Карта перехода на налоговый мониторинг
            </h2>
            <ol class="transition__map-list">
                <li class="transition__map-list-item">
                    <div class="transition__map-card">
                        <div class="transition__map-card-number">
                            <div class="transition__map-card-number-digit">

                            </div>
                        </div>
                        <h3 class="transition__map-card-heading">
                            Обследование – Июнь
                        </h3>
                        <div class="transition__map-card-text">
                            <p>
                                Изучение текущих процессов налогового учета, формирование отчетности, построение модели.
                            </p>
                            <p>
                                Диагностика текущих IT- систем.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="transition__map-list-item">
                    <div class="transition__map-card">
                        <div class="transition__map-card-number">
                            <div class="transition__map-card-number-digit">

                            </div>
                        </div>
                        <h3 class="transition__map-card-heading">
                            Проектирование – Июль-Сентябрь
                        </h3>
                        <div class="transition__map-card-text">
                            <p>
                                Разработка функциональных требований к системе налогового мониторинга, системе
                                внутренних контролей.
                            </p>
                            <p>
                                Разработка методологии раскрытия показателей.
                            </p>
                            <p>
                                Разработка проектных технических решений.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="transition__map-list-item">
                    <div class="transition__map-card">
                        <div class="transition__map-card-number">
                            <div class="transition__map-card-number-digit">

                            </div>
                        </div>
                        <h3 class="transition__map-card-heading">
                            Реализация – Сентябрь- Декабрь
                        </h3>
                        <div class="transition__map-card-text">
                            <p>
                                Оптимизация текущих процессов в соответствии с требованиями раскрытия отчетности

                            </p>
                            <p>
                                Настройка системы налогового мониторинга, системы внутренних контролей и управления
                                рисками.

                            </p>
                            <p>
                                Реализация требуемых доработок.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="transition__map-list-item">
                    <div class="transition__map-card">
                        <div class="transition__map-card-number">
                            <div class="transition__map-card-number-digit">

                            </div>
                        </div>
                        <h3 class="transition__map-card-heading">
                            Подготовка к эксплуатации – Декабрь
                        </h3>
                        <div class="transition__map-card-text">
                            <p>
                                Разработка пакета документации: регламенты и инструкции.
                            </p>
                            <p>
                                Обучение пользователей.
                            </p>
                            <p>
                                Проведение приемочных испытаний системы
                            </p>
                        </div>
                    </div>
                </li>
            </ol>
            <a href="#" class="transition__map-consultation">
                Заказать консультацию
            </a>
        </div>
    </div>
</section>

<section class="interface">
    <div class="container">
        <div class="inner-container">
            <h2 class="inteface__heading">
                Интерфейс программы
            </h2>
            <div class="inteface__slider js-interface-slider">
                <button class="inteface__slider-arrow inteface__slider-arrow--prev">
                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="inteface__slider-arrow inteface__slider-arrow--next">
                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="inteface__slider-card">
                                <img data-src="img/slider-image.png" alt="" class="interface__slider-card-image lazyload">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="inteface__slider-card">
                                <img data-src="img/slider-image.png" alt="" class="interface__slider-card-image lazyload">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="inteface__slider-card">
                                <img data-src="img/slider-image.png" alt="" class="interface__slider-card-image lazyload">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}