.partnership {
    margin-bottom: 25rem;
    position: relative;
    z-index: 1;

    &--with-bg {
        margin-bottom: 45rem;

        @include breakpoint(mobile) {
            margin-bottom: 7rem;
        }
    }

    @include breakpoint(mobile) {
        margin-bottom: 5rem;
    }

    .inner-container {
        display: flex;
        flex-direction: column;
    }
}

.partnership__bg {
    z-index: -1;
    position: absolute;
    bottom: -50rem;
    top: -50rem;
    width: 100%;

    @include breakpoint(mobile) {
        display: none;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 31rem;
        // margin-top: -15rem;
        height: 15rem;
        width: 30%;
        background-color: var(--primary-color);
        transform: skewY(var(--slant-angle, 0));
        z-index: 30;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: -18rem;
        height: 15rem;
        width: 25%;
        background-color: var(--primary-color);
        transform: skewY(var(--slant-angle, 0));
        z-index: 30;
    }
}

.partnership__bg-band {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    display: flex;
    align-items: center;
    transform: rotate(var(--slant-angle, 0));
    z-index: 50;
    margin-bottom: 25.5rem;
}

.partnership__bg-band-item {
    background-color: var(--primary-color);
    color: white;
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    padding: 1rem 2rem;
    padding-right: 3rem;
    clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 50%, calc(100% - 2rem) 100%, 0 100%);

    &:not(:first-child) {
        clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 50%, calc(100% - 2rem) 100%, 0 100%, 2rem 50%);
        margin-left: -1.6rem;
        padding-left: 3rem;
    }
}

.partnership__bg-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    clip-path: polygon(0 var(--slant-offset, 0), 100% 0, 100% calc(100% - var(--slant-offset, 0)), 0 100%);
    background-color: #f2f2f2;
    @include breakpoint(mobile) {
        clip-path: polygon(0 3rem, 100% 0, 100% calc(100% - 3rem), 0 100%);
    }
}

.partnership__grey-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    background-color: #e6e6e6;
    clip-path: polygon(65% 0, 78% 0, 55% 100%, 20% 100%);
}

.partnership__heading {
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 15rem;
    padding-top: 2.5rem;
    position: relative;
    @include breakpoint(mobile) {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        padding-top: 1.5rem;
    }
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 15rem;
        height: 0.3rem;
        top: 0;
        background-color: var(--primary-color);
        @include breakpoint(mobile) {
            width: 10rem;
        }
    }
}

.partnership__list {
    display: flex;
    flex-wrap: wrap;
    margin: -3.5rem;
    justify-content: center;

    @include breakpoint(mobile) {
        margin: -1rem;
        justify-content: flex-start;
    }
}

.partnership__list-item {
    width: 33.33%;
    padding: 3.5rem;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 50%;
        padding: 1rem;
        flex-grow: 0;
    }
}

.partnership__card {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.partnership__card-icon-container {
    align-self: center;
    margin-bottom: 5rem;
    width: 12rem;
    height: 12rem;

    position: relative;
    z-index: 10;

    @include breakpoint(mobile) {
        width: 6rem;
        height: 6rem;
        margin-bottom: 2.5rem;
    }

    &::before {
        content: '';
        position: absolute;
        width: 12rem;
        height: 12rem;
        background-color: var(--primary-color);
        border-radius: 1.5rem;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        margin-left: -2.5rem;
        margin-top: 2rem;

        @include breakpoint(mobile) {
            width: 6rem;
            height: 6rem;
            margin-left: -1rem;
            margin-top: 1rem;
            border-radius: 0.8rem;
        }
    }

    &--inverted {
        &::before {
            left: auto;
            top: auto;
            margin: 0;
            right: 0;
            top: 0;
            margin-right: -3.5rem;
            margin-top: -3.5rem;
        }

        @include breakpoint(mobile) {
            &::before {
                margin-right: -1rem;
                margin-top: -1rem;
            }
           
        }
    }
}

.partnership__card-icon {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.partnership__card-text {
    font-weight: 300;
    text-align: center;
    font-size: 2.5rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.partnership__become-partner {
    display: inline-flex;
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    padding: 1.7rem 2.4rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    align-self: center;
    margin-top: 12rem;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        padding: 1rem 1.6rem;
        border-radius: 0.8rem;
        margin-top: 3rem;
    }
    &:link,
    &:visited {
        color: white;
    }
}

.partnership__form {
    width: 100%;
    margin: 0 auto;
    max-width: 85rem;
    background-color: #f2f2f2;
    box-shadow: 1rem 1rem 2rem rgba(black, 0.2);
    border-radius: 1rem;
    padding: 5rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        padding: 2rem;
        max-width: none;
        margin-top: 5rem;
    }

    .parsley-errors-list.filled {
        margin-top: 0.6rem;
        font-size: 1.4rem;
        color: red;
    }
}

.partnership__form-fields {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 3rem;

    @include breakpoint(mobile) {
        grid-gap: 2rem;
    }
}

.partnership__form-input {
    display: block;
    width: 100%;
    height: 7rem;
    background-color: #fff;
    padding: 0 3rem;
    font-size: 2.5rem;
    border: 1px solid #e8e8e8;
    border-radius: 1.5rem;
    transition: border-color 0.2s;

    @include breakpoint(mobile) {
        height: 5.6rem;
        font-size: 1.6rem;
        border-radius: 1rem;
        padding: 0 1.8rem;
    }

    &.parsley-error {
        border-color: red;
    }
    @include placeholder {
        color: #999999;
    }
}

textarea.partnership__form-input {
    height: 23rem;
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @include breakpoint(mobile) {
        height: 20rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

.partnership__form-submit {
    display: inline-flex;
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    padding: 1.7rem 2.4rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    align-self: center;
    margin-top: 2rem;
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        padding: 1rem 1.6rem;
        border-radius: 0.8rem;
        display: block;
        width: 100%;
    }
    &:link,
    &:visited {
        color: white;
    }
}
